:root {
    --primary-white-color: #ffffff;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --primary-background-color: #2E2F42;
    --background-color: #F4F4FD;
    --text-color: #4D5AE5;
    --secondary-background-color: #404BBF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
    box-sizing: border-box;
}
*,*::after,
*::before{
    box-sizing: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.link{
    text-decoration: none;
    color: inherit;
}
.link-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    font-style: normal;
    text-decoration: none;
}

.header{
    padding: 26px 0;
    border-bottom: 1px solid #E7E9FC;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


.header-container{
    display: flex;
    justify-content: space-between;
}   

.portfolio-header{
    display: flex;
    gap: 27px;
    border-bottom: 1px;
    border-color: #E7E9FC;
    padding: 32px 64px 32px 64px;
}

.nav-list{
    display: flex;
}
    

.header-list {
    display: flex;
    gap: 40px;
    margin-left: 76px;
}

.address-list{
    display: flex;
    gap: 27px;
    color: #434455;
}

.address-header{
    display: flex;
    gap: 40px;
    
}

.active-link {
    color: #404bbf !important;
}

.link-list:hover {
    color: #4D5AE5;
}
.link-list:focus {
    color: #4D5AE5;
}
.link-list:active {
    color: #4D5AE5;
}

.address-link{
    display: flex;
    font-style: normal;
    gap: 40px;
}

.address-link:hover {
    color: #4D5AE5; 
}

.address-link:focus {
    color: #4D5AE5;
}

.web-logo{
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #4D5AE5; 
}
.studio-logo{
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #2E2F42; 
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

h1{
    text-align: center;
}
.main-section{
    text-align: center;
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
}

.header-main{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #ffffff;
    margin-bottom: 48px;
}
.button-tab{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}
.button-tab:hover {
    background-color: #404BBF;
}

.services-list{
    display: flex;
    gap: 24px;
    align-items: center;
   
}
.section-no-bottom-padding{
    padding-bottom: 0;
}

.services-container{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.button{
    cursor: pointer;
}

.filter-button{
    background: #f4f4fd;
    border: 1px solid #E7E9FC;
    color: #4D5AE5;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    padding: 12px 24px;
}
.filter-button:hover{
    color: #ffffff;
    background-color: #404BBF;
    border-color: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    
}

.filter-active{
    color: white;
    background-color: #4D5AE5;
    border: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    padding: 12px 24px;
}


.benefits-container{
    display: flex;
    gap: 22px;
}

.benefits-title{
    color: #2E2F42;
    letter-spacing: .4px;
    margin-bottom: 8px;
}

.section-text{
    color: #434455;
}

.section-grey{
    background-color: #F4F4FD;
   
}

.section-no-top-padding{
    padding-top: 0;
}
.what-list{
    display: flex;
    gap: 15px;
}

.team-list{
    display: flex;
    gap: 32px;
    text-align: center;
}

.team-item{
    background-color: white;
    padding-bottom: 32px;
    box-shadow: 0 2px 1px 0 rgba(46 47 66 0.08),
    0 1px 1px 0 rgba(46 47 66 0.16), 
    0 1px 6px 0 rgba(46 47 66 0.08);
    border-radius: 0 0 4px 4px;
}
.team-image{
    margin-bottom: 30px;
}
.team-title{
    color: #2E2F42;
    margin-bottom: 8px;
}
.team-position{
    color: #434455;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;  
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.project-wrapper{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.project-title{
    text-decoration: none;
    color: #2E2F42;
    margin-bottom: 8px;
}

.project-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}

.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-logo{
    padding-top: 100px;
    padding-bottom: 100px;
}

.studio-footer {
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #F4F4FD;
}

.footer-text{
    color: #F4F4FD;
    padding-top: 16px;
}