:root {
    --primary-white-color: #ffffff;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --primary-background-color: #2E2F42;
    --background-color: #F4F4FD;
    --text-color: #4D5AE5;
    --secondary-background-color: #404BBF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
    box-sizing: border-box;
}
*,*::after,
*::before{
    box-sizing: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


.header-container{
    display: flex;
    padding: 32px 64px 32px 64px;
    gap: 27px;
    border-bottom: 1px;
    margin-right: auto;
    border-color: #E7E9FC;
}   

.portfolio-header{
    display: flex;
    gap: 27px;
    border-bottom: 1px;
    border-color: #E7E9FC;
    padding: 32px 64px 32px 64px;
}

.nav-list{
    display: flex;
    margin-right: auto;
    
}
    

.header-list {
    display: flex;
    gap: 40px;
    
}

.address-list{
    display: flex;
    margin-left: auto;
    gap: 27px;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.active-link {
    color: #404bbf !important;
}
.link-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    font-style: normal;
    text-decoration: none;
}

.link-list:hover {
    color: #4D5AE5;
}
.link-list:focus {
    color: #4D5AE5;
}
.link-list:active {
    color: #4D5AE5;
}
.link{
    text-decoration: none;
    color: inherit;
}

.address-link{
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    
}

.address-link:hover {
    color: #4D5AE5; 
}

.address-link:focus {
    color: #4D5AE5;
}

.logo{
    margin-right: 130px;
    margin-left: 0;
}

.web-logo{
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #4D5AE5; 
}
.studio-logo{
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #2E2F42; 
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

h1{
    text-align: center;
}
.main-section{
    text-align: center;
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.header-main{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #ffffff;
    padding-top: 80px;
    margin-bottom: 30px;
}
.button-tab{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}
.button-tab:hover {
    background-color: #404BBF;
}



.services-list{
    display: flex;
    gap: 24;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.services-container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.button{
    cursor: pointer;
}

.filter-button{
    color: #4D5AE5;
    background: #f4f4fd;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.filter-button:hover{
    color: #ffffff;
    background-color: #404BBF;
    border-color: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    
}


.filter-active{
    color: white;
    background-color: #404BBF;
    border: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    
}

.project-list{
    display: flex;
    gap: 24px;

}

.benefits-container{
    display: flex;
    gap: 24px;

}
.section-grey{
    background-color: #F4F4FD;
    width: 1440px;
    height: 732px;
    margin-left: auto;
    margin-right: auto;
}


h2{
    text-align: center;

    letter-spacing: 2%;
    gap: 32px;
    padding: 16px 0 16px 0;
    margin-bottom: 64px;
}

h3{
    color: #2E2F42;
    gap: 8px;

}

.what-list{
    display: flex;
    gap: 15px;
}

.team-list{
    display: flex;
    gap: 32px;
    text-align: center;
    padding: 0 0 32px 0;
}

.team-image{
    gap: 15px;
    border-bottom: 1px;
    border-color: #E7E9FC;
    margin-bottom: 30px;
}

.team-position{
    color: #434455;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
}



.project-detail{
    padding: 16px;
    gap: 8px;
}

.project-list{
    padding: 16px;
}

.project-title{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    line-height: 24px;
    color: #2E2F42;
}

.project-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}

.footer{
    background-color: #2E2F42;
    width: 1440px;
    height: 312px;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo{
    padding-top: 100px;
    padding-bottom: 100px;
}

.studio-footer {
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #F4F4FD;
}

.footer-text{
    color: #F4F4FD;
    padding-top: 16px;

}